<html>
<body>
<style>
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid blue;
  border-right: 4px solid green;
  border-bottom: 4px solid red;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.3s linear infinite;
  animation: spin 0.3s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<form method="post" action="/advconfigpage/">
  {% csrf_token %}
  <center>
   <div class="modal-footer">
      
          <button type="button" class="btn btn-info" onclick="window.location.reload();" class="btn btn-default" data-dismiss="modal">X</button>
        </div>
        	      <h3>	&nbsp;	&nbsp; 	Advanced Configuration</h3>
      <p><div class="section"> 
    
 	<div hidden class="loader"></div>
	<div hidden class="loader1"> Please Wait !! </div>
<div id="result1">

</div>	
<br/>

		<form name="parametersadd" method="post" action="/advconfig/" >
	
		<table  id="id-form">

		<tr>
		<th valign="top">Stream Name:</th> 
		<td>	
		
		
	<input type="text"  value="{{ tag }}" required  id="streamidedit" name="streamidedit" class="inp-form" />
	
		
		</td>
</tr>
<tr>
<th valign="top">Method:</th> 
<td>
	<select id="aspectmethod" name="aspectmethod" onChange='GetaspectFilter();'>

			<option value="PUT">PUT</option>
			<option value="DELETE">DELETE</option>

</select>
<input hidden type="text" name="aspectnamenew" id="aspectnamenew"></input>
<input hidden type="text" value="meth" name="meth" id="meth"></input>
</td>
</tr>
	
		<tr>
		<th valign="top">Aspect :</th> 
		<td>	
		
<select id="aspectname" name="aspectname" onChange='GetaspectFilter();'>
<option value="">Please select a aspect</option>
	{% for aspect in aspectslist %}
			<option value="{{ aspect.filter }}">{{ aspect.name }}</option>	
	{% endfor %}
</select>
	
		</td>
</tr>


<tr hidden id='akamai'>
		<th valign="top">Akamai Entrypoint :</th> 
            <td>
	<input  type="text" size="70" onfocusout="GetaspectFilter()" id="akamaivalue" name="akamaivalue" rows="4" cols="50">
                   		
	</input> 
     </td>
</tr>
	
<tr hidden id='authpsw'>
		<th valign="top">Token Passsword :</th> 
            <td>
	<input type="text" size="30" onfocusout="GetaspectFilter()" id="authpswvalue" name="authpswvalue">
                   		
	</input> 
     </td>
</tr>
	

        <tr id="rawvalue">
		<th  valign="top">Value:</th> 

            <td>
<textarea id="aspectvalue" name="aspectvalue" rows="4" cols="50">
                   		
</textarea> 

<script>
$('.akamaivalue').show();
function GetaspectFilter()
{	
		$('#akamai').hide();
		$('#authpsw').hide();
		$('#rawvalue').show();
		var url=document.getElementById("streamidedit").value;
		var listbox = document.getElementById("aspectname");
		var selIndex = listbox.selectedIndex;
		var selValue = listbox.options[selIndex].text;
		if(url.endsWith('/forwardp') & selValue !='live-forward')
		{document.getElementById("streamidedit").value =document.getElementById("streamidedit").value.slice(0,-9);}
		var method = document.getElementById("aspectmethod");
		var methIndex = method.selectedIndex;
		var methodvalue = method.options[methIndex].text;
		document.getElementById("meth").value=methodvalue;
		document.getElementById("aspectnamenew").value=selValue;

		if (methodvalue == 'DELETE')
		{
			document.getElementById("aspectvalue").value = ""
			$('#rawvalue').hide();}
		else{		
			document.getElementById("aspectvalue").value = document.getElementById("aspectname").value;}

		if( selValue =='live-forward')
		{ 
			$('#rawvalue').hide();
			if( methodvalue != 'DELETE')
					{$('#akamai').show();}
		document.getElementById("aspectvalue").value = ""
		
		
		if(!url.endsWith('/forwardp'))
			{document.getElementById("streamidedit").value =	document.getElementById("streamidedit").value+'/forwardp'}
		document.getElementById("aspectvalue").value='{ "url" : "'+document.getElementById("akamaivalue").value+'" }'
		
		}
		if( selValue =='restrict-ticket')
		{ 
			$('#rawvalue').hide();
			if( methodvalue != 'DELETE')
					{$('#authpsw').show();
			document.getElementById("aspectvalue").value='{ "authpsw" : "'+document.getElementById("authpswvalue").value+'" }'
		}}
		
}
</script>
            </td>
          
        </tr> 

	
	<tr>
		<th>&nbsp;</th>
		<td valign="top">
			<input id="createcustbtn" type="button" onclick="getme()" value="" class="form-submit" />

		
			<input type="reset" value="" class="form-reset"  />
		</td>
		<td></td>
	</tr>
	
	</table></form>
</div>
</form>
<p id="demo"></p>


<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

<script type="text/javascript">
	function getme()
	{
		$('.loader').show();
		$('.loader1').show();
		$('#result1').html('');
                    $.ajax({
                        url : "/advconfigpage/", 
                        type : "POST",
                        data : {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            streamidedit : $('#streamidedit').val(),
                            aspectnamenew : $('#aspectnamenew').val(),
                            aspectvalue : $('#aspectvalue').val(),
                            aspectmethod : $('#aspectmethod').val(),
                            },
                        success : function(json) {
                            $('#result1').html(json.message);
                            $('.loader').hide();
                            $('.loader1').hide();
                        },
                        error: function(json) {
                        	$('#result1').html(json.message);
                            $('.loader').hide();
                            $('.loader1').hide();
                            
                         }
                    
                    });
        
	};
</script>






<script>
function myFunction() {
    var x;
    if (confirm("Are you sure !") == true) {
        x = "You pressed OK!";
        
    } else {
    	return false;
        x = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = x;
}
</script>

  </center>
  </body>
  </html>