  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

      <div class="modal-footer">
      
          <button type="button"  onclick="window.location.reload();" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
	 




			<!--  start product-table ..................................................................................... -->
<form id="updateabr" method="post" action="/Updateabr/">

{% csrf_token %}			
<h2>abr update for {{ abr }}</h2>



		 <label for="abrselect">Mutiple select list (hold shift to select more than one):</label>
		<select id="abrselect" multiple class = "form-control">
		{% for stream in streamlistnonabr %}
        			 <option value={{ stream.name }}>{{ stream.name }}</option>
        {% endfor %}
      	</select>
					
	<input type="text" name="valabr" id="valabr" value="{{ abr }}"> 
	<input type="text" name="valp" id="valp" value="x"> 
	<center><input onclick="insertTsoNote();" id="editabrbtn" type="submit"  value="Submit" /><input onclick="insertTsoNote();" id="getabrbtn" type="button"  value=" abr" /></center>
  <script>
	function insertTsoNote(){
	        var tnl = document.getElementById("abrselect");
	         str=""
	        for(i=0;i<tnl.length;i++){
	            if(tnl.options[i].selected == true){
	            	
	            	str+='"'+tnl.options[i].value+'" : {},'
	            }
	        	
	            document.getElementById("valp").value=str
	        }
	     
	    }
	
	</script>
   </form>    
   
 	 {% if bitrate %} 
 <form  method="post" action="/EditStream/">
 {% csrf_token %}
	  <table class="table">
	<tr>
	<th >Stream Name</th>  
	
	<td>
	<input hidden type=text size="40"  value="{{ streamviewname }}" id="streaminview" name="streaminview"></input>
	<input disabled type=text size="40"  value="{{ streamviewname }}" id="editinview" name="editinview"></input>
	</td>
	</tr>
	<tr>
	
		<th > Stream Type:</th> 
		<td>	
		<select id="editstreamtype" name="editstreamtype" >
			<option value="{{ streamtype }}">{{ streamtype }} (Existing)</option>
			<option value="std/flv">std/flv</option>
			<option value="std/ehls">std/ehls</option>
			<option value="std/aac">std/aac</option>
			<option value="std/mpegts">std/mpegts</option>
			<option value="std/smooth">std/smooth</option>
			<option value="std/mp3">std/mp3</option>
			<option value="std/asf">std/asf</option>
		</select>
		</td>

		
		</tr>
		
		<tr>
	
		<th > Publish:</th> 
		<td>	
		<select id="editpublish" name="editpublish" >
			<option value="{{ publish }}">{{ publish }} (Existing)</option>
			<option value="true">true</option>
			<option value="false">false</option>
			
		</select>
		</td>

		
		</tr>
		
		<tr>
			<th > Bitrate in k:</th>
			<td><input type="integer" value="{{ bitrate }}" id="editmaxbr" name="editmaxbr"  />
			</td>
		
		</tr>
		{% if user.is_superuser %}
		<tr>
			<th >Actual Bitrate in k:</th>
			<td><input type="integer" disabled value="{{ actualbr }}" id="romaxbr" name="romaxbr"  /><a href="" data-toggle="tooltip" data-placement="right" title="eg. 200 Please Note By default 30% will be added to bitrate  "> what is this ?</a>
			</td>
		
		</tr>
		
		<th>&nbsp;</th>
		<td >
	<input id="editstreambtn" type="submit"  value="Update Stream" />
		
		
		</td>
	
	</tr>
	{% endif %}
	<script>
	{% if not user.is_superuser %}
	document.getElementById("editstreamtype").disabled=true
	document.getElementById("editpublish").disabled=true
	document.getElementById("editmaxbr").disabled=true
	document.getElementById("editinview").disabled=true
	{% endif %}
	</script>
	
	</table>
</form>  
  	 {% endif %}
 <div id="Editabrmodal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button onclick="javascript:window.location.reload()" type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="javascript:window.location.reload()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>