<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>



<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<title></title>

  <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery/jquery.min-1.12.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery/ISPP.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery/bootstrap.min.js"></script>

<link rel="stylesheet" href=" {{ STATIC_URL }}/static/css/screen.css" type="text/css" media="screen" title="default" />
<!--[if IE]>
<link rel="stylesheet" media="all" type="text/css" href="css/pro_dropline_ie.css" />
<![endif]-->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.localScroll.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.scrollTo.js" type="text/javascript"></script> 




<script type="text/javascript">
$(document).ready(function() {
  $('#navigation').localScroll({duration:400});
});
</script>
<!--  jquery core -->

<!--  checkbox styling script -->
<script src="{{ STATIC_URL }}/static/js/jquery/ui.core.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/static/js/jquery/ui.checkbox.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.bind.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
	$('input').checkBox();
	$('#toggle-all').click(function(){
 	$('#toggle-all').toggleClass('toggle-checked');
	$('#mainform input[type=checkbox]').checkBox('toggle');
	return false;
	});
});
</script>  

<![if !IE 7]>

<!--  styled select box script version 1 -->
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.selectbox-0.5.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect').selectbox({ inputClass: "selectbox_styled" });
});
</script>
 

<![endif]>


<!--  styled select box script version 2 --> 
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_form_1').selectbox({ inputClass: "styledselect_form_1" });
	$('.styledselect_form_2').selectbox({ inputClass: "styledselect_form_2" });
});
</script>

<!--  styled select box script version 3 --> 
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.selectbox-0.5_style_2.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.styledselect_pages').selectbox({ inputClass: "styledselect_pages" });
});
</script>

<script src="{{ STATIC_URL }}/static/js/jquery/custom_jquery.js" type="text/javascript"></script>
 
<!-- Tooltips -->
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.tooltip.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}/static/js/jquery/jquery.dimensions.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
	$('a.info-tooltip ').tooltip({
		track: true,
		delay: 0,
		fixPNG: true, 
		showURL: false,
		showBody: " - ",
		top: -35,
		left: 5
	});
});
</script> 


<script src="{{ STATIC_URL }}/static/js/jquery/jquery.pngFix.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
$(document).pngFix( );
});
</script>
<link rel="stylesheet" href=" {{ STATIC_URL }}/static/css/screen.css" type="text/css" media="screen" title="default" />

</head>
<body> 





<!-- Start: page-top-outer -->
<div id="page-top-outer">    

<!-- Start: page-top -->
<div id="page-top">

	<!-- start logo -->
	<div id="logo">
	<a href="/Holger/"><img src="{{ STATIC_URL }}/static/images/shared/logo.png" width="156" height="40" alt="" /></a>
	</div>
	<!-- end logo -->
<div id="top-search">
<font size="1" color="white">User &nbsp;:&nbsp; {{ request.user.first_name }}  </font>
			{% if user.is_superuser %}
   			<font size="1" color="green">(Full Access) &nbsp;&nbsp;</font>
			{% else %}
   			 <font size="1" color="green">(Limited Access) &nbsp;&nbsp;</font>
   		<font size="1" color="white">	 Credits &nbsp;{{ user.user_quota }}&nbsp;</font>
			{% endif %}	 
</div>
		<div id="top-search">
<div class="clear"></div>
{% if user.is_superuser %}	
<form id="topsearch" target="_blank" method="post" action="/search/">
		<table  border="0" cellpadding="0" cellspacing="0">
		<tr>
		<td><input height="1" type="text" name="searchstring" value="jonasl/live/std/*"  onblur="if (this.value=='') { this.value='jonasl/live/std/*'; }" onfocus="if (this.value=='jonasl/live/std/*') { this.value=''; }" class="top-search-inp" /></td>
		<td>
		 
		<select hidden name="aspect" id="aspect" class="">
			<option value="">All</option>
			<option value="?aspects=livebase-pushed">Live</option>
			<option value="">CPCode</option>
			<option value="?aspects=customer">Customer</option>
			<option disabled value="?aspects=ond">VOD</option>
			
		</select> 
		 
		</td>
		
		<td>
		
		<input target="_blank" type="submit" value="Submit" src="{{ STATIC_URL }}/static/images/shared/top_search_btn.gif"  />
</form>
		</td>
		 {% endif  %}
		</tr>
		</table>
	</div>
 	<!--  end top-search -->
 	<div class="clear"></div>

</div>
<!-- End: page-top -->

</div>
<!-- End: page-top-outer -->
	
<div class="clear">&nbsp;</div>
<!--  start nav-outer-repeat................................................................................................. START -->
<div class="nav-outer-repeat"> 
<!--  start nav-outer -->
<div class="nav-outer"> 

		<!-- start nav-right -->
		<div id="nav-right">
		
			
			
			
	<!-- 		<div class="showhide-account"><img src="{{ STATIC_URL }}/static/images/shared/nav/nav_myaccount.gif" width="93" height="14" alt="" /></div>-->
			<div class="clear">&nbsp;</div>




			<a href="/signout" id="logout"><img src="{{ STATIC_URL }}/static/images/shared/nav/nav_logout.gif" width="64" height="14" alt="" /></a>
			<div class="clear"></div>
		
			<!--  start account-content -->	
			<div class="account-content">
			<div class="account-drop-inner">
				<a href="" id="acc-settings">Settings</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-details">Personal details </a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-project">Project details</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="" id="acc-inbox">Inbox</a>
				<div class="clear">&nbsp;</div>
				<div class="acc-line">&nbsp;</div>
				<a href="http://octoshape.com/stats/index.php" target="_blank" id="acc-stats">Statistics</a> 
			</div>
			</div>
			<!--  end account-content -->
		
		</div>
		<!-- end nav-right -->


		<!--  start nav -->
		<div class="nav">
		<div class="table">
		
		
		
		<div class="nav-divider">&nbsp;</div>
		<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">CONFIGURE
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">Infinite Services Live</a></li>

  </ul>
</div>

		
		
		</li>
		</ul>
	
		<div class="nav-divider">&nbsp;</div>
	
		<div class="clear"></div>
		</div>
		<div class="clear"></div>
		</div>
		<!--  start nav -->

</div>
<div class="clear"></div>
<!--  start nav-outer -->
</div>

<!--  start nav-outer-repeat................................................... END -->


<!-- start content-outer ........................................................................................................................START -->

<!-- start content -->
<div id="content">

	<!--  start page-heading -->





	<div class="container">

</script>

<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/bootstrap.min.css">
  <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery/jquery.min-1.12.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery/bootstrap.min.js"></script>

<code><br/></code>
<div class="container">
  

	
  
  <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#StreamSearch">Stream Search</a></li>
   {% if user.is_superuser or user.is_staff %}
  
  
    <li ><a data-toggle="tab" href="#CreateStream">Create Stream</a></li>
     {% endif  %}
     {% if user.is_superuser  %}
    <li><a data-toggle="tab" href="#ModifyStream">New Customer</a></li>
    {% endif  %}
  </ul>

  <div class="tab-content">
  

      
      <div id="StreamSearch" class="tab-pane fade in active">

      <h3>	&nbsp;	&nbsp; Stream Search</h3>
    
  
   {% if streamexisterr %} 
  <div class="alert alert-danger fade in">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ streamexisterr }}</strong> <p></p>
</div>
 {% endif  %}
    {% if passoverwriteerr %} 
  <div class="alert alert-danger fade in">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ passoverwriteerr }}</strong> <p></p>
</div>
 {% endif  %}
    
  {% if deletstream %} 
  <div class="alert alert-danger fade in">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ deletstream }}</strong> <p></p>
</div>
 {% endif  %}
 
     {% if abrupdatestatus %} 
  <div class="alert alert-success fade in">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ abrupdatestatus }}</strong> <p></p>
 
</div>
 {% endif  %}    
      
    {% if erroredit %} 
  <div class="alert alert-danger fade in">
   <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{ erroredit }}</strong> <p></p>
 
</div>
 {% endif  %}    
      
     {% if Newcustcreated %}
   


  <p>

</p>

  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>New Customer has been created ! !</strong>
    
<table >
  
   {% for stream in Newcustcreated %}
    <tr>
    
      <td><p ><font color="green">{{ stream }}</font></p> </td>
       
    </tr>
     {% endfor  %}

</table>
  </div>   
 
      {% endif  %}
      
       {% if streamupdate %}
  <p>
</p>

  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    
    
<table >
   {% for stream in streamupdate %}
    <tr>
    <strong>{{ stream }}</strong> has been updated
      
       
    </tr>
     {% endfor  %}

</table>
    
  </div>
{% endif  %}     
      {% if streamcreation %}
  <p>
</p>

  <div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>The Streams have been created ! !</strong>
    
<table >
   {% for stream in streamcreation %}
    <tr>
    
      <td><p  ><font color="green">{{ stream }}</font></p> </td>
       
    </tr>
     {% endfor  %}

</table>
    
  </div>
{% endif  %}		
      <div id="searchfield">
      <form method="post" onsubmit=searchtext(); action="/Holger/">
      <td>
     
      
      <input class="biginput" onblur="this.placeholder='Search ISPP or type URL'"  onfocus="this.placeholder=''" placeholder="Search ISPP or type URL"  value="{{ streamviewname }}" type="text"  id="Holgerinp" name="Holgerinp"></input></td>
  <a  data-toggle="tooltip" data-placement="right" title="eg. digiturk or digiturk/ch1 ">  what is this ? </a>




   <div id="outputbox1"> 
   
   
   <script>
   function searchtext()
   {
			document.getElementById("searchresult").innerHTML ="Searching for Results "}
	</script>
 
  <p id="searchresult"  >Type Customer name or prefix and press Enter  </p> 
	
        
        <table id="myTable" class="display table" border="1" width="100%" cellpadding="0" cellspacing="0" id="content-table">

	

		 {% if streamlist %}
				<!--  start product-table .....................................................................................-->
			<form id="mainform" action="">
				<div class="table-responsive">
				<table id="product" class="display table table-bordered table table-striped" border="2" width="100%" cellpadding="0" cellspacing="0" >
				 <thead>  
          <tr>  
            <th>Stream Name</th>  
            <th>Aspect</th>  
            <th>CPcode</th> 
            <th>bitrate</th> 
            <th>Streamtype</th> 
            <th>publish</th> 
            <th>password</th> 
            {% if user.is_superuser or user.is_staff %} 
        	<th> Edit</th>
        	<th>*Delete*</th>
        	{% endif  %}  
          </tr>  
        </thead>  
			 <tbody>  

  {% endif  %} 
{% for stream in streamlist %}
			
				<tr  class="alternate-row">
<!-- 					<td><input  type="checkbox"/></td> -->
					<td  id="{{ stream.name }}" data-dismiss="modal" data-toggle="modal" data-target="#myModal" href="/lstream/{{ stream.name }}" > <a > {{ stream.name }}</a></td>
					<td>{{ stream.aspect }}</td>
					<td><font color="brown">{{ stream.cpcode }}</font></td>
					
				            {% if user.is_superuser or user.is_staff %} 
					
<td size="90" class="options-width">

<a onclick="alert('Edit {{ stream.name }} ?');" data-toggle="modal" data-target="#myModal" href="/lstream/{{stream.name}}" name="{{ stream.name }}"  title="Edit" class="icon-1 info-tooltip"></a>			
</td>
<td size="90" class="options-width">
<a   data-toggle="modal" data-target="#myModal" href="/delstream/{{stream.name}}/{{ stream.aspect }}" name="{{ stream.name }}" title="Delete" class="icon-2 info-tooltip"></a>

<!-- <!-- 				
	<a href="" title="Star" class="icon-3 info-tooltip"></a> --> 
<!-- <!-- 					<a href="" title="Edit" class="icon-4 info-tooltip"></a> --> 
<!-- <!-- 					<a  title="Edit" class="icon-5 info-tooltip"></a> --> 
 
					</td>
					            {% endif %} 
					
				</tr>

								
				{% endfor %}
				
{% for stream in streamlistabr %}
			
				<tr  class="alternate-row">
<!-- 					<td><input  type="checkbox"/></td> -->
					<td onclick="javascript:window.location.reload()" ><a id="y" href=/lstream/{{ stream.name }} >{{ stream.name }}</a></td>
					<td>{{ stream.aspect }}</td>
					<td><font color="brown">{{ stream.cpcode }}</font></td>
					<td>{{ stream.aspect }}</td>
					<td>{{ stream.aspect }}</td>
					<td>{{ stream.aspect }}</td>
					<td>{{ stream.aspect }}</td>
					{% if user.is_superuser %} 
					<td hidden size="20" class="options-width">
					<a name="{{ stream.name }}" onclick="putThis(this)" title="Edit" class="icon-1 info-tooltip"></a>
				<a  title="Delete" class="icon-2 info-tooltip"></a>
<!-- <!-- 					<a href="" title="Star" class="icon-3 info-tooltip"></a> --> 
<!-- <!-- 					<a href="" title="Edit" class="icon-4 info-tooltip"></a> --> 
<!-- <!-- 					<a  title="Edit" class="icon-5 info-tooltip"></a> --> 
					</td>
					{% endif %} 
				</tr>

								
	{% endfor %}
				   </tbody> 
				</table>
	
   </form> 
<!--     {% if streamlist %} -->
<!--  <div id="player"></div> -->
<!--  {% endif %}  -->
<script type="text/javascript">
		var x = 'octoshape://opsqa.octoshape.org/'+document.getElementById("Holgerinp").value;
        var player_id = "player";
        var player_width = 412;
        var player_height = 288;

        var player_streams = [
        	{
        		id: 'my_stream',
				stream: x
        	}
        ];

        //optional. starts the stream when the player is ready
        var player_stream = "my_stream";
        var params = {allowFullScreen: true, scale: 'noscale', allowScriptAccess: 'always'};
        var attributes = {id: player_id, name: player_id};
	    swfobject.embedSWF('http://octoshape-a.akamaihd.net/eps/players/infinitehd4/player.swf', player_id, player_width, player_height, "10.2.0", null, null, params, attributes);
	
</script>
   
 	 {% if bitrate %} 
 <form  method="post" action="/EditStream/">
	  <table class="table">
	<tr>
	<th >Stream Name</th>  
	
	<td>
	<input hidden type=text size="40"  value="{{ streamviewname }}" id="streaminview" name="streaminview"></input>
	<input disabled type=text size="40"  value="{{ streamviewname }}" id="editinview" name="editinview"></input>
	</td>
	</tr>
	<tr>
	
		<th > Stream Type:</th> 
		<td>	
		<select id="editstreamtype" name="editstreamtype" >
			<option value="{{ streamtype }}">{{ streamtype }}</option>
			<option value="std/flv">std/flv</option>
			<option value="std/ehls">std/ehls</option>
			<option value="std/aac">std/aac</option>
			<option value="std/mpegts">std/mpegts</option>
			<option value="std/smooth">std/smooth</option>
			<option value="std/mp3">std/mp3</option>
			<option value="std/asf">std/asf</option>
		</select>
		</td>

		
		</tr>
		
		<tr>
	
		<th > Publish:</th> 
		<td>	
		<select id="editpublish" name="editpublish" >
			<option value="{{ publish }}">{{ publish }}</option>
			<option value="true">true</option>
			<option value="false">false</option>
			
		</select>
		</td>

		
		</tr>
		
		<tr>
			<th > Bitrate in k:</th>
			<td><input type="integer" value="{{ bitrate }}" id="editmaxbr" name="editmaxbr"  />
			</td>
		
		</tr>
		{% if user.is_superuser %}
		<tr>
			<th >Actual Bitrate in k:</th>
			<td><input type="integer" disabled value="{{ actualbr }}" id="romaxbr" name="romaxbr"  /><a href="" data-toggle="tooltip" data-placement="right" title="eg. 200 Please Note By default 30% will be added to bitrate  "> what is this ?</a>
			</td>
		
		</tr>
		
		<th>&nbsp;</th>
		<td >
	<input id="editstreambtn" type="submit"  value="Update Stream" />
		
		
		</td>
	
	</tr>
	{% endif %}
	<script>
	{% if not user.is_superuser %}
	document.getElementById("editstreamtype").disabled=true
	document.getElementById("editpublish").disabled=true
	document.getElementById("editmaxbr").disabled=true
	document.getElementById("editinview").disabled=true

   
	
	
	{% endif %}
	</script>
	
	</table>
	

</form>  
  	 {% endif %}
       <a name="_output" class="noa"></a>
      <div id="output" class="output"></div>
  
<script type="text/javascript" src="{{ STATIC_URL }}/static/js/jquery/parse.js"></script>
<link rel="StyleSheet" type="text/css" href="{{ STATIC_URL }}/static/css/styletable.css" />
		 
      <div class="clear"></div>
          <div class="lfloat">
          


            
      <input hidden type="button" id="PUT" value="PUT" onclick="doPut(); return false;" /> 
       
  <input hidden type="button" id="PATCH" value="PATCH" onclick="doPatch(); return false;" /> 
  
  <input hidden type="button" id="DELETE" value="DELETE" onclick="hideHelp(); return false;" /> 
 </div>
      <div id="inputcontainer"><textarea hidden  id="text"  rows="12">{{ liss|safe }}</textarea>
     </div>    
    
      
      <!--<div class="rfloat"><input type="button" id="help" value="help" onclick="doHelp();" /></div>-->
      <div class="lfloat"><input hidden type="button" id="help" value="Create a Stream" onclick="doHelp();" /></div>
      <div class="rfloat"><input hidden Type="button" value="Go Back" onClick="history.go(-1);return true;"></div>
		
      <div class="clear"></div>
      <hr />



   <script>	
   function putThis(control) { 
// 	    confirm(control.innerText);
	    document.getElementById("streamviewname").value=control.innerText
	    document.getElementById("Holgerinp").value=control.innerText
	}
   </script>
   <script>	
   
   function editstream(x)
   {
		   
		    
		    if ( confirm(" You are about to edit the stream"+x+")== true) {
		    	
		    	
		        
		        
		    } 
		    else 
		    
		    {
		    	document.getElementById("searchresult").innerHTML ="Action Canceled. Try Again";
		    	
		        
		        
		    }
	
   }


</script>
   
        <p></p>
      	</div>
   
   
    </div>   
    
    </div>
    
   
    
    
<div id="myModal" class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-footer">
      
          <button type="button" class="btn btn-info" onclick="window.location.reload();" class="btn btn-default" data-dismiss="modal">X</button>
        </div>
      <div class="modal-header">
      
        <h4 class="modal-title">Stream Edit Page</h4>
      </div>
      <div class="modal-body">
        <p>Loading Stream Details.</p>
        <div class="loader"></div>
      </div>
      
      <div class="modal-footer">
        <button type="button"  onclick="window.location.reload();"  class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
  </div>

    <div id="CreateStream" class="tab-pane fade">
      <h3>	&nbsp;	&nbsp; 	Create Stream</h3>
      <p>
      		<div id="step-holder">
		<a name="newstream" href=""></a>
			
			<h4>Add Stream details</h4>
 
	
		</div> 
		<form name="addstream" method="post" action="/NewStream/" >



	
		
		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">
		<tr hidden>
		<th hidden valign="top"><br><br><br>Stream aspect:</th>
		<td>	

<br><br><br>
		<input  type="checkbox" hidden name="multi-source" id="multi-source">Multi Source</input><br>
		  <input  type="checkbox" hidden name="livebase-pushed" id="livebase-pushed" > Livebase pushed </input><br>
  			 <input  type="checkbox" hidden name="multilive"  id="multilive" > Multi Live</input><br>
  			 
	
		</td>
		<td></td>
		</tr>
	
		
		<tr>
		
		
			<th id="streamnameabrtext" hidden valign="top">Stream abr :</th>
			<td><input type="text" hidden id="streamnameabr" name="streamnameabr" class="inp-form" /></td>
			<td></td>
		</tr>
		<tr>
		
		<tr>
		<th valign="top">Customer Name:</th> 
		
		<td>	
		
		<select id="custname" name="custname" >

	{% for cust in customerlist %}
			
			<option value="{{ cust.name }}">{{ cust.name }}</option>
	{% endfor %}
		</select>
			
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text"  size="6" id="realtxt" placeholder="search" onkeyup="javascript:searchSel();" onblur="this.value=''" />

		<script>
		document.getElementById('realtxt').onkeyup = searchSel;
		function searchSel() 
		    {
		      var input = document.getElementById('realtxt').value.toLowerCase();
		       
		          len = input.length;
		          output = document.getElementById('custname').options;
		      for(var i=0; i<output.length; i++)
		          if (output[i].text.toLowerCase().indexOf(input) != -1 ){
		          output[i].selected = true;
		              break;
		          }
		      if (input == '')
		        output[0].selected = true;
		    }
		</script>
	</td>

</tr>
			<th valign="top">Stream Prefix :</th>
			<td><input type="text" required name="streamname" placeholder="live/" value="live/" class="inp-form" />
			<a href="#newstream" data-toggle="tooltip" data-placement="right" title="eg. live/ch1. live/ is the default prefix. "> what is this ?</a>
			
 
			
			
			</td>
			<td></td>
		</tr>
		<tr>
			<th valign="top">Max Bitrate in k:</th>
			<td><input required placeholder="200,300" onfocusout="FunctionValidateBitrate()" type="text" id="maxbr" name="maxbr" class="inp-form" /><a href="" data-toggle="tooltip" data-placement="right" title="eg. 200,300,500 etc.This fields allows only numbers separated by comma .Please Note By default 30% will be added to bitrate.   "> what is this ?</a>
			</td>
			<td>
<script>
function FunctionValidateBitrate() 
{
	
    var inp = document.getElementById("maxbr");
    if (inp.value){
    	
    	
    
    if(!/^[0-9]+(,[0-9]+)*$/.test(inp.value))
    {
    	
        alert('Invalid value detected in Max Bitrate in k:');
        
        return false;
    }
    
    br= inp.value.split(",")   
        {% if not user.is_superuser %}
    	if (br.length>8)
    	{
			alert('Upto 8 Bitrates allowed, you entered '+br.length+' bitrates.');
			return false;
    	}
    
    	{% endif %}
    for (i in br)
    {
    	{% if not user.is_superuser %}
			if (br[i]>5000)
			{
				alert('Bitrate cant be greater than 5000, you entered '+br[i]);
				return false;
			}
		{% endif %}
		if (br[i]<64)
				{
				alert('Bitrate cant be less than 64, you entered '+br[i]);
				return false;
				}
 
            
    }
    }   
    return true;
}
</script>
			
			</td>
		</tr>
		<tr>
		<th valign="top">Stream Type:</th> 
		<td>	
		<select name="streamtype" >
			
			<option value="std/flv">std/flv</option>
			<option value="std/ehls">std/ehls</option>
			<option value="std/aac">std/aac</option>
			<option value="std/mpegts">std/mpegts</option>
			<option value="std/mp3">std/mp3</option>
			{% if user.is_superuser %}
			<option value="std/smooth">std/smooth</option>
			<option value="std/asf">std/asf</option>
			{% endif %}
		</select>
		</td>
		<td></td>
		
		</tr>
		<tr>
		<th hidden valign="top">Publish:</th>
		<td>	
		<select hidden name="publish" >
			<option value="true">True</option>
			<option value="false">False</option>
			
		</select>
		</td>
		<td></td>
		</tr> 
	
			<tr>
			<th valign="top"> Password (Optional)</th>
			
	
			
			
			<td>
			
			<input type="text" id="streampwdopt" name="streampwdopt" placeholder="password" value="" class="inp-form" />
			  <input type="button" class="button" value="Generate" onClick="generateopt();" tabindex="2">
			<a href="#newstream" data-toggle="tooltip" data-placement="right" title="eg. Optional password for stream.                 NOTE : This will override the default push password "> what is this ?</a>
			
			
			</td>
		</tr>
	
		<tr>
		
		<p hidden id="comments"></p>
		
			<th valign="top">Redundant Source:</th>
		<td>	
		<input type="checkbox" id="redundant" name="redundant" value="True">  &nbsp;&nbsp;&nbsp;
		<a href="#newstream" data-toggle="tooltip" data-placement="right" title="Check this button if you want active/active stream source
and only if redundant is requested in SOF eg. test/ch1/200k/a and test/ch1/200k/b "> what is this ?</a>
		<br>
			
		</select>
		</td>
		</tr>
	
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

	
	<tr>
			<th valign="top"> </th>
			<td>
			<script>
			var d = new Date();
			document.getElementById("comments").innerHTML ="created by {{ request.user.username }} on "+d
			</script>
			
			
			<td></td>
		</tr>
	

			
		
	<tr>
		
	</tr>
	<tr>
		
		
		
			<th valign="top"></th>
		<td>	
		<p id="status"> </p>
			
	
		</td>
		</tr>
	
	
	<tr>
		<th>&nbsp;</th>
		<td valign="top">
					<input  id="createstreambtn" type="button" onclick=SubmitValidate(); value="" class="form-submit" />
		<script>
		function SubmitValidate() 
		{
			if ( FunctionValidateBitrate())
				
				{
				
			
				{% if user.quota > 9 %}
				 
				 document.getElementById("createstreambtn").disabled=true
			  
				 {% endif  %}

				
				Confirm();
				
				
				}
		    
		    
		}
		
		</script>
			<input type="reset" value="" class="form-reset"  />
		</td>
		<td></td>
	</tr>
	
	</table>
<script>	
if({{ flag1|safe }}!=1)
	alert(' Error occured. Please Check values !');
else
alert('Stream has been added sucessfully.');

</script>
</form>
	<!-- end id-form  -->
      
      
      </p>
    </div>

    
    <div id="ModifyStream" class="tab-pane fade">
      <h3>	&nbsp;	&nbsp; 	New Customer</h3>
      <p><div class="section"> 
 
<h4>New Customer</h4>


		<form name="addcust" method="post" action="/NewCust/" >
	
		<table border="0" cellpadding="0" cellspacing="0"  id="id-form">

		<tr>
		<th valign="top">New Customer Name:</th> 
		<td>	
		
		
	<input type="text" onfocusout="FunctionLower()" required  id="newcustname" name="newcustname" class="inp-form" />
	
		
		</td>
</tr>
<script>
function FunctionLower() {
    var x = document.getElementById("newcustname");
    x.value = x.value.toLowerCase();
}
</script>
	
		<tr>
		<th valign="top">CP Code:</th> 
		<td>	
		
		
	<input type="number" required id="newcustcpcode" name="newcustcpcode" class="inp-form" />
	
		
		</td>
</tr>

        <tr>
		<th valign="top">Password:</th> 
            <td>
             <input type="hidden" name="length" value="8">
                <input required value="octo"  class="inp-form" name="row_password" type="text" size="30">&nbsp;
                <input type="button" class="button" value="Generate" onClick="generate();" tabindex="2">
            </td>
            	<td>		
            	<a href="#newstream" data-toggle="tooltip" data-placement="right" title="if no stream password is entered during stream creation the default password will be used ">&nbsp; what is this ?</a>
            
            </td>
        </tr> 
        
        
			<tr>
		<th valign="top">Confirmation :</th> 
		<td>	
		
		
	<p id="statuscust" /></p>
	
		
		</td>
</tr>
	
	<tr>
		<th>&nbsp;</th>
		<td valign="top">
			<input id="createcustbtn" type="button" onclick=Confirmnewcust(); value="" class="form-submit" />
		
			<input type="reset" value="" class="form-reset"  />
		</td>
		<td></td>
	</tr>
	
	</table>
</div>
<script>
function randomPassword(length) {
    var chars = "abcdefghkmnpqrstuvwxyzABCDEFGHJKMNP2345678";
    var pass = "";
    for (var x = 0; x < length; x++) {
        var i = Math.floor(Math.random() * chars.length);
        pass += chars.charAt(i);
    }
    return pass;
}

function generate() {
    addcust.row_password.value = randomPassword(addcust.length.value);
}
function generateopt() {
    addstream.streampwdopt.value = randomPassword(addcust.length.value);
}
</script>

<script>
function Confirmnewcust() {
    var x;
    
    
    
    
    if ( confirm("Are you sure  ?")== true) {
    	document.getElementById("createcustbtn").type ="Submit";
        x = "You pressed OK ! ";
        
    } 
    else 
    
    {
    	document.getElementById("createstreambtn").type ="Cancel";
    	
        x = "You pressed Cancel!";
        
    }
    document.getElementById("statuscust").innerHTML = x;
}
</script>	

</form>


 <p>
 
 
 
 
   </p>
 

</div></p>
    </div>
  </div>
</div>



  

	

		<!--  start step-holder -->
	
		<!--  end step-holder -->
	
		<!-- start id-form -->

<script>
function Confirm() {
    var x;
    
    if ( confirm("Are you sure !")== true) {
    	document.getElementById("createstreambtn").type ="Submit";
        x = "You pressed OK ! Creating new stream.. ";
        
    } 
    else 
    
    {
    	document.getElementById("createstreambtn").type ="Cancel";
    	
        x = "You pressed Cancel!";
        
    }
    document.getElementById("status").innerHTML = x;
}
</script>	
		


	</td>
	<td>

</td>
</tr>
<tr>
<td><img src="{{ STATIC_URL }}/static/images/shared/blank.gif" width="695" height="1" alt="blank" /></td>
<td></td>
</tr>
</table>
	    	<br><br><br><br><br>
	    </div>
</p>
</details>



 <br>  <br> 

<!--  end content-table-inner  -->
</td>
<td id="tbl-border-right"></td>
</tr>
<tr>
	<th class="sized bottomleft"></th>
	<td id="tbl-border-bottom">&nbsp;</td>
	<th class="sized bottomright"></th>
</tr>
</table>

    
			  
   

<div class="clear">&nbsp;</div>

</div>
<!--  end content -->
<div class="clear">&nbsp;</div>
</div>
<!--  end content-outer -->


<div class="clear">&nbsp;</div>
  
<!-- start footer -->         
<div id="footer">
	<!--  start footer-left -->
	<div id="footer-left">
	<p>           
		
	       &nbsp;  &nbsp; &copy; 
	       <!--Copyright . <a href="">www.Octoshape.com</a>. All rights reserved. --></div>
	       </p>
	<!--  end footer-left -->
	<div class="clear">&nbsp;</div>
</div>


<!-- end footer -->




</body>
</html>